.hero {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
}
.hero-body{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}
.pdf1{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.navbar {
    position: sticky;
    top: 0;
    /*z-index: 1000;*/
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}

.logo img {
    height: 40px;
    border-radius: 10%;
}
