.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    width: 50px;
    padding: 10px 5px;
}

.sidebar-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding-left: 20px;
    width: 250px;
}

.sidebar.open .sidebar-content {
    opacity: 1;
    visibility: visible;
}

.sidebar ul {
    list-style: none;
    /*padding: 0;*/
    align-items: center;
    width: 100%;
    right: 0;
    margin-top: 20px;
}

.sidebar li {
    right: 0;
    padding: 3px;
    transition: 0.3s;
}
.sidebar li:hover {
    color: #ea795a;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.toggle-btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 100px;
    background: bisque;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;

    z-index: 100; /* Ensure the close button is on top of other elements */
}


.close-btn:hover {
    color: #ff4d4d;
}
